body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  text-align: center;
}

.dropdown {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 10px 0;
  width: 200px;
  font-size: 16px;
}

.VS {
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  margin: 10px 0;
}

